@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Noto+Sans+JP:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 245, 245, 245;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 23, 23, 23;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    font-family: "Noto Sans JP", sans-serif;
}

html.dark body {
    color: rgb(255, 255, 255);
    background: rgb(23, 23, 23);
}

* {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.font-mono {
    font-family: "Fira Code", monospace;
}
